@charset "utf-8";

/* font-face */
@font-face{
    font-family: "NanumGothic";
    src: url('font/NanumGothic.eot');
    src:local('※'), url('font/NanumGothic.woff') format('woff');
}
@font-face{
    font-family: "NanumGothicBold";
    src: url('font/NanumGothicBold.eot');
    src:local('※'), url('font/NanumGothicBold.woff') format('woff');
}
@import url(http://www.openhiun.com/hangul/nanumgothic.css);

/* reset css */
* { margin:0; padding:0; box-sizing: border-box;}
body,input,button,select,input,textarea,td,td,h1,h2,h3,h4,h5,h6,pre{ font:normal 14px/1.2 NanumGothic,Dotum,돋움,Arial,Sans-serif; color:#555;}
img, input, select, textarea{ vertical-align:middle; border:0 none; outline-style:none;}
fieldset, abbr, acronym, button { border:0 none; }
dl,dt,dd,ul,ol,li { list-style:none; }
em,address { font-style:normal; }
legend,hr { display:none; } 
a { color:#555;}
a:link, a:focus, a:hover, a:active {text-decoration:none; vertical-align:middle;}
a.under {text-decoration:underline;}
caption, legend, .hidden,#skipNavi{ position:absolute; visibility:hidden; width:0; height:0; font-size:0; line-height:0;}
table {width:100%; border-spacing:0;border:0;}
label,button {cursor:pointer}
input[type=text] {width:100%; border:1px solid #c2c0c0; height:30px; text-indent: 10px;}
select {width:100%; border:1px solid #c2c0c0; height:30px;}
textarea {width:100%; padding:10px; border:1px solid #c2c0c0;}
html,body {height:100%;}

/* common */
.f_l { float:left }
.f_r { float:right }
.txt_l {text-align:left !important;}
.txt_c {text-align:center !important;}
.txt_r {text-align:right !important;}
.hide { display:none }
.clr:after { content:''; display:block; clear:both }
.conWrap { position:relative; width:1190px; margin:0 auto }
.conWrap:after { content:''; clear:both; display:block }

/* gnb */
#gnb { margin-bottom:46px; background:#fff }
#gnb > .conWrap { padding-bottom:21px }
#gnb h1 { float:left; padding:26px 0 0 0; }
#gnb aside { margin-left:258px; text-align:right }
#gnb aside > div { height:40px; padding-top:10px }
#gnb aside #google_translate_element { float:right; position:relative; top:-5px; right:20px; }
#gnb aside > div a:hover { text-decoration:none }
#gnb aside div > ul { position:absolute; right:0; top:40px; }
#gnb aside div > ul > li { float:left; position:relative }
#gnb aside li > a { display:inline-block; margin-right:10px; padding-right:12px; line-height:21px; background:url(/cloud_ver2/new_cloud/images/bg_bar_gray_1x11.png) 100% 50% no-repeat; letter-spacing:-1px; font-size:13px; color:#58595b; }
#gnb aside li:last-child > a { background: none; }
#gnb aside li > a:hover { color:#389ef3; }
#gnb aside li > i { line-height: 21px; }
#gnb aside li > i > a { border-radius:9px; background-color:#f95c0f; color:#fff; margin: 0 10px 0 0; padding:3px 9px 2px 9px; font:11px "Dotum", "?��?", "Arial"; }
#gnb aside a.msg { position:absolute; top:-12px; right:-14px; width:18px; height:22px; margin:0; padding:1px 0 0; line-height:normal; background:url(/cloud_ver2/new_cloud/images/icn_msg.png) no-repeat; text-align:center; font-size:10px; color:#fff }
#gnb aside a.msg + div { top:25px; right:-40px }
#gnb aside li div { display:none; position:absolute; top:27px; right:0; z-index:200; border:1px solid #6e6f70; box-shadow:0 0 10px #6e6f70; border-radius:10px; background:#fff; text-align:left }
#gnb aside li div.on { display:block }
#gnb aside li div > img { position:absolute; top:-15px; right:30px }
#gnb aside li dl { margin-right:5px; padding-left:5px; border-radius:10px; background:#f2f5f5 }
#gnb aside li dl:after { content:''; clear:both; display:block }
#gnb aside li dt { float:left; clear:left; width:50px; height:52px; padding:10px 0; border-right:1px solid #ddd; border-bottom:1px solid #ddd; background:#f2f5f5; word-break:keep-all; text-align:center; font-size:14px; color:#1b1b1b }
#gnb aside li dt:first-child { border-radius:10px 0 0 0 }
#gnb aside li dt:last-of-type { border-radius:0 0 0 10px }
#gnb aside li dd { width:190px; height:52px; margin-left:50px; padding:10px 15px 0; border-bottom:1px solid #ddd; background:#fff }
#gnb aside li dd:first-of-type { border-radius:0 10px 0 0 }
#gnb aside li dd:last-child { border-radius:0 0 10px; border-bottom:0 }
#gnb aside li dd a { display:block; text-decoration:none }
#gnb aside li span { display:block; margin:10px }
#gnb aside li span a { display:block; padding:8px 5px; border-bottom:1px solid #ddd; white-space:nowrap }
#gnb aside > form { position:absolute; left:253px; top:23px; border-radius:2px; border:2px solid #0d4a87; width:400px; height:44px; }
#gnb aside > form input[type=text] { float:left; border:none; width:307px; height:40px; font-size:14px; font-weight:normal; line-height:14px; text-indent: 13px; }
#gnb aside > form input[type=image] { position:absolute; top:9px; right:12px; border:none; }
#gnb nav { position:absolute; z-index:100; width:100%; background:url(/cloud_ver3/html_web/images/lnb_bg.gif) left top repeat-x; background-color: #fff; }
#gnb nav.fixed { position:fixed; top:0; width:100%; background:url(/cloud_ver3/html_web/images/lnb_bg.gif) left top repeat-x; background-color: #fff; z-index:999 }
#gn nav .nav_area { width:100%; background: #1159a6; }
#gnb nav .conWrap > ul { margin-right:25px }
#gnb nav .conWrap > ul:after { content:''; clear:both; display:block }
/* 전체메뉴 보기 */
#gnb nav .view_allmenu { position:absolute; right:0; top:0; z-index:100; background:url(/cloud_ver3/html_web/images/icon_allmenu.gif) no-repeat; width:50px; height:47px; boarder:0; }
#gnb nav .view_allmenu:hover { background:url(/cloud_ver3/html_web/images/icon_allmenu_over.gif) no-repeat; width:50px; height:47px; }
/* sub_menu - depth2 */
#gnb nav .conWrap > ul > li { float:left; width:163px;}
#gnb nav .conWrap > ul > li > a { display:block; height:46px; line-height:48px; background:#1159a6; text-decoration:none; text-align:center; font-weight:700; font-size:15px; color:#fff; }
#gnb nav .conWrap a.now,  #gnb nav .conWrap li:hover > a { background:#5999d2; color:#fff; }
nav .conWrap li ul { display:none; float:left; overflow-y:auto; overflow-x:hidden; width:100%; height:370px; margin:2px 0 15px; background:#fff }
nav .conWrap li .mCustomScrollbar { padding-right:0 }
nav .conWrap li.on ul { display:block }
#gnb nav .conWrap ul li.on:hover > a { position:relative; top:-9px; padding-bottom:37px; border-bottom:0 }
nav .conWrap li:hover ul { margin-top:-9px; border-top-width:1px; background:#f9f9f9 }
nav .conWrap li li a { display:block; padding:12px 0; word-break:keep-all; text-decoration:none; letter-spacing:-1px; font-size:14px; color:#1b1b1b; text-align:center; }
nav .conWrap li li a:hover { color:#0186e1 }
/* 전체메뉴 */
nav .all_menu { display:none; width:100%; background:#fff; }
nav .all_menu.on { display:block }
nav .all_menu > div { overflow-y:auto; left:-15px; height:600px; width:1159px; }
nav .all_menu table { border-collapse:collapse; background:#fff; }
nav .all_menu table tr:first-child { display:none; }
nav .all_menu th { width:163px; padding:10px 0; border:1px solid #1159a6; text-align:center; font-size:16px; background: #1159a6; color:#fff; }
nav .all_menu td { width:160px; padding:10px 0; border:1px solid #e9e9e9; vertical-align:top; text-align:center; font-size:14px; }
nav .all_menu td li { margin-bottom:15px; font-size:14px; color:#1b1b1b }
nav .all_menu td a,  nav .all_menu td li a { letter-spacing:-1px; word-break:keep-all; font-size:inherit; color:inherit }
nav .all_menu td li:hover a { color:#1159a6 !important; text-decoration:none !important; background:none !important; }
nav .all_menu td li ul { max-height:130px; margin:10px 0; }
nav .all_menu td li li { margin-bottom:7px }
nav .all_menu td li li a { font-size:12px; color:#626262 }
nav .depth2 { font-weight:bold; }
nav .depth3 { display:none; }
/*//전체메뉴 */

/* footer */
footer { border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; background:#fff }
footer .conWrap { padding:20px 9px 40px; }
footer .footer_logo_l { float:left; margin:13px 40px 0 0; }
footer .footer_logo_r { float:right; }
footer .conWrap > span.footer_link { display:block; width: 700px; margin: 0 auto; }
footer .conWrap > span.footer_link a { background: url(/cloud_ver2/new_cloud/images/bg_bar_gray_1x11.png) 100% 50% no-repeat; padding-right:15px; }
footer .conWrap > span.footer_link a:last-child { background: none; padding-right:0; }
footer .conWrap > span a { margin: 0 5px; letter-spacing:-1px; font-size:14px; color:#898989 }
footer .conWrap > span a:first-child { margin-left:47px }
footer address { clear:both; width: 607px; margin:10px auto 0; font-size: 12px; color: #b5b5b5;}
footer .footer_strong { float:left; display:inline-block; background-color:#434446; width:700px; height:34px; margin:10px 10px 0 60px; padding:0 20px 0 30px; border-radius:10px; }
footer .footer_strong > b { float:left; line-height:34px; color:#bcbec0; font-size:13px; padding-right:10px; }
/*//footer*/

/*container*/
#container {width:1190px; margin:0 auto;}

/*left_menu*/
.left_menu {width:242px; height:100%; min-height:1280px; border-right:1px solid #bcbcbc; border-left: 1px solid #bcbcbc; display:table-cell; background-color:#fbfbfb; padding-bottom:180px; vertical-align:top;}
.left_menu h2 {font-size:32px; font-weight:600; color:#000; line-height:69px; padding-left:19px; border-bottom:1px solid #bcbcbc;}
.left_menu ul li {line-height:45px; font-size:16px; border-bottom:1px solid #bcbcbc;}
.left_menu li:last-child {border:none;}
.left_menu ul li a:hover {font-weight:600;}
.left_menu ul li a { color:#464646; letter-spacing:-0.5px; padding-left:22px;  display:block; text-decoration:none;}
.left_menu ul li.on a {color:#fff !important; display:block; background:#389ef3 url(../images/icon_leftMenuOn.png) 93% 50% no-repeat;}
.depth3_menu li a {background:#fbfbfb url(../images/bullet_square.png) 35px center no-repeat; padding:0 10px; color:#878787 !important; font-size:15px; padding-left:0; text-indent:23px}
.depth3_menu li a.select_depth3 {background-color:#e9e7e7 !important; color:#0069c0 !important;}
.depth3_menu li a:hover {font-weight:600;}

/*left_area*/
.left_area {width:242px; height:100%; display:table-cell; padding:20px 0 0 9px; border-left: 1px solid #bcbcbc; }
.left_area h2 {height:50px; padding-left:20px; color:#fff; font-size:20px; font-weight:600; line-height:50px; background-color:#389ef3;}
.left_area ul {padding:9px 10px 15px; background-color:#f4f4f4;}
.left_area ul li {position:relative; margin-top:6px; padding:10px 20px 11px 12px; border:1px solid #d6d6d6; color:#7e7e7e; background-color:#f8f8f8;}
.left_area ul li .icon_delete {display:none;}
.left_area ul li:hover {padding:8px 18px 9px 10px; border:3px solid #02aeec; color:#333; background-color:#fff;}
.left_area ul li:hover .icon_delete {display:block; position:absolute; top:11px; right:10px;}

/*right_area*/
.right_area {width:948px; border-right:1px solid #bcbcbc; display:table-cell; position:relative; vertical-align:top;}
.right_area h3 {height:70px; font-size:25px; font-weight:600; color:#000; line-height:74px; padding-left:32px; border-bottom:1px solid #bcbcbc;}
.right_area .sub_srch {position:absolute; left:126px; top:0px; width:396px; height:33px;}
.right_area .sub_srch .keyword {float:left; border:none; width: 308px; height: 31px; font-size:14px; font-weight:normal; line-height: 14px; padding-left:3px; background-color:#f1f1f1; margin-right:84px; border:1px solid #d9d7d7; border-right:none;}
.right_area .sub_srch .srchBtn {position:absolute; right:0px; top:0px; background-color:#000; width:84px; height:33px; color:#fff; font-weight:500; font-size:14px}
.right_area .con_area {padding:20px 20px 30px;}
.con_area h4 {margin:28px 0 10px; font-size:18px; font-weight:bold;}
.con_area h4:first-child {margin-top:-5px;}
.con_area h4 label {margin-left:10px; font-size:13px; font-weight:normal;}
.con_area h4 + .btn_area.txt_r {margin:-32px 0 10px;}

.page_where {display:inline-block; position:absolute; right:17px; top:28px; font-size:12px;}
.page_where img {vertical-align:top;}
.page_where span {margin:0 10px;}

/*tab*/
.tab_menu {height:43px; margin-bottom:20px;}
.tab_menu li {float:left; width:50%; text-align:center;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(236,236,236,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(236,236,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}
.tab_menu li a {display:block; font-size:15px; border:1px solid #bcbcbc; border-left:0; height:43px; line-height:43px;}
.tab_menu li a.tab_on {background-color:#ffffff !important; border-bottom:none; border-top:2px solid #5e5e5e;}
.tab_menu li a:hover {font-weight:600;}
.tab_menu li:first-child a {border-left:1px solid #bcbcbc;}
.tab_menu.li3 li {width:33.3%;}

/* tbl style */
.tbl_st1 tr:first-child th {border-top:2px solid #333333;}
.tbl_st1 th, .tbl_st1 td {padding:10px 10px 9px; line-height:20px; border-right:1px solid #d1d0ce;}
.tbl_st1 th {border-bottom:1px solid #d1d0ce; text-align:center; font-weight:normal; background-color:#f3f4f6; }
.tbl_st1 th:last-child, .tbl_st1 td:last-child{border-right:none;}
.tbl_st1 th .bullet_orange {display:inline-block; width:11px; height:6px; background-position:0 0;}
.tbl_st1 td {text-align:center; border-bottom:1px solid #d1d0ce; }
.tbl_st1 td label {margin-right:10px;}
.tbl_st1 tfoot td {background-color:#f1f6e2;}
.tbl_st1.type_l tbody td {text-align:left;}

.tbl_st2 tr:first-child th,.tbl_st2 tr:first-child td{border-top:2px solid #333333;}
.tbl_st2 th, .tbl_st2 td {padding:10px 10px 9px; line-height:20px; border-right:1px solid #d1d0ce;}
.tbl_st2 th {padding-left:21px; border-bottom:1px solid #d1d0ce; text-align:left; font-weight:normal; background-color:#f3f4f6; }
.tbl_st2 td {text-align:left; border-bottom:1px solid #d1d0ce; }
.tbl_st2 td:last-child {border-right:none;}
.tbl_st2 td label {margin-right:10px;}

table td input[type="text"],table td select {margin:-5px 0; vertical-align:top;}
table td a {vertical-align:top !important;}
table td a.btn_r {margin:-2px 0;}
table td a.btn_rm {margin:-3px 0;}

.bg_st1 {background-color:#f8f8f8 !important;}
.bg_st2 {background-color:#e3e3e3 !important;}

/* button style */
.btn_area {overflow:hidden; margin:15px 0 10px; text-align:center }

.btn_s {display:inline-block; height:22px; padding:0 10px; line-height:22px; font-size:12px; font-weight:bold; text-align:center; color:#fff;}
.btn_m {display:inline-block; min-width:82px; height:33px; padding:0px 28px; line-height:33px; font-size:13px; font-weight:bold; text-align:center; color:#fff;}
.btn_l {display:inline-block; height:39px; padding:0 30px; line-height:39px; font-size:14px; font-weight:bold; text-align:center; color:#fff;}
.btn_r {display:inline-block; min-width:65px; height:22px; padding:0px 8px; border-radius:3px; line-height:22px; font-size: 13px; font-weight:bold; text-align:center; color:#fff;}
.btn_rm {display:inline-block; min-width:70px; height:25px; padding:0px 8px; border-radius:3px; line-height:25px; font-size: 13px; font-weight:bold; text-align:center; color:#fff;}

.btn_gray {background-color:#989898;}
.btn_gray:hover {background-color:#838383; }
.btn_blue {background-color:#389ef3;}
.btn_blue:hover {background-color:#2992e9; }
.btn_sky {background-color:#4dacfa;}
.btn_sky:hover {background-color:#319bf2; }
.btn_orange {background-color:#f48b36;}
.btn_orange:hover {background-color:#f57b18; }
.btn_brgray {background-color:#afabab;}
.btn_brgray:hover {background-color:#9d9d9d; }
.btn_green {background-color:#7aaa27;}
.btn_green:hover {background-color:#6f9c21; }
.btn_purple {background-color:#ab5bfe;}
.btn_purple:hover {background-color:#9d41fc; }
.btn_darkblue {background-color:#4c6c85;}
.btn_darkblue:hover {background-color:#425f76;}
.btn_darkgray {background-color:#6a757d; }
.btn_darkgray:hover {background-color:#5a666e; }
.btn_brightgray {padding-left:30px; border:1px solid #dbd9d9; color:#5d5d5d !important;background:#ebebeb url('../images/icon_check.png') no-repeat 11px 3px;}
.btn_brightgray:hover {background-color:#dbd9d9; border:1px solid #c3c1c1;}

/* paging */
.paging{text-align:center; margin:24px 0 0; font-size:12px;}
.paging a{width:36px;height:36px;border:1px solid #dbdbdb;border-radius:2px;display:inline-block;margin-right:1px;line-height:35px;color:#6f757c;background:#f4f4f4 url(../images/ico_paging_con.png) no-repeat 0 0;text-align:center;font-family:Dotum, '돋움', Arial, sans-serif;font-weight:bold;}
.paging a:hover{background:url('../images/ico_paging_con_ov.png') #a6a6a6 no-repeat 0 0;border:1px solid #9A9A9A;}
.paging a:last-child{margin-right:0;}
.paging a.prev{background-position:0 -34px;margin-right:8px;}
.paging a.next{background-position:-34px -34px;margin-left:8px;}
.paging a.nnext{background-position:-34px 0;}
.paging span a{border:1px solid #c7c7c7;background:#fff;}
.paging span a:hover{color:#fff;border:none;width:36px;height:36px;background:url(../images/btn_page_on.png) no-repeat 0 0;line-height:36px;text-decoration:none;}
.paging span a.active{color:#fff;border:none;width:36px;height:36px;background:url(../images/btn_page_on.png) no-repeat 0 0;line-height:36px;}


/* box, list, txt, icon style */
.box_info {margin-bottom:20px; padding:15px 20px; border:1px solid #d7dfea; background-color:#e8eff7;}

.list_st1 li {position:relative; margin-top:8px; padding-left:10px;}
.list_st1 li:before {position:absolute; top:5px; left:0; display:block; width:5px; height:5px; border-radius:5px; background-color:#f95b11; content:"";}
.list_st1 li:first-child {margin-top:0;}

.txt_between {margin:0 10px;}
.txt_underline:hover {text-decoration:underline;}

.bullet_orange {background:url(../images/bullet_orange.png) 10px center no-repeat;}

.icon_calendar {display:inline-block; margin-left:6px; background:url(../images/btn_calendar_off.png) no-repeat; width:19px; height:20px;}
.icon_calendar:hover {background:url(../images/btn_calendar_on.png) no-repeat;}
.icon_delete {display:inline-block; width:10px; height:10px; background:url(../images/icon_delete.png) no-repeat 0 0;}

.uploadFile { position:relative; margin-right:75px }
.uploadFile span { position:absolute; top:50%; right:-75px; margin-top:-11px;}
.uploadFile input[type=file] { position:absolute; top:0; left:0; width:100%; opacity:0 }




/* scroll bar*/
/*
== malihu jquery custom scrollbar plugin ==
Plugin URI:http://manos.malihu.gr/jquery-custom-content-scroller
*/

/*
CONTENTS:
1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited). 
2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar. 
3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars. 
5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars. 
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS 
6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/

/* 
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE  
------------------------------------------------------------------------------------------------------------------------
*/
.mCustomScrollbar { -ms-touch-action:pinch-zoom; touch-action:pinch-zoom; /* direct pointer events to js */ }
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action { -ms-touch-action:auto; touch-action:auto; }
.mCustomScrollBox { /* contains plugin's markup */ position:relative; overflow:hidden; height:100%; max-width:100%; outline:none; direction:ltr; }
.mCSB_container { /* contains the original content */ overflow:hidden; width:auto; height:auto; }
/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_inside > .mCSB_container { margin-right:30px; }
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden { margin-right:0; } /* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container { /* RTL direction/left-side scrollbar */ margin-right:0; margin-left:30px; }
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden { margin-left:0; } /* RTL direction/left-side scrollbar */
.mCSB_scrollTools { /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */ position:absolute; width:16px; height:auto; left:auto; top:0; right:0; bottom:0; }
.mCSB_outside + .mCSB_scrollTools { right:-26px; } /* scrollbar position:outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,  .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools { /* RTL direction/left-side scrollbar */ right:auto; left:0; }
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools { left:-26px; } /* RTL direction/left-side scrollbar (scrollbar position:outside) */
.mCSB_scrollTools .mCSB_draggerContainer { /* contains the draggable element and dragger rail markup */ position:absolute; top:0; left:0; bottom:0; right:0; height:auto; }
.mCSB_scrollTools a + .mCSB_draggerContainer { margin:20px 0; }
.mCSB_scrollTools .mCSB_draggerRail { width:4px; height:100%; margin:0 auto; -webkit-border-radius:16px; -moz-border-radius:16px; border-radius:16px; }
.mCSB_scrollTools .mCSB_dragger { /* the draggable element */ cursor:pointer; width:100%; height:30px; /* minimum dragger height */ z-index:1; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { /* the dragger element */ position:relative; width:4px; height:100%; margin:0 auto; -webkit-border-radius:16px; -moz-border-radius:16px; border-radius:16px; text-align:center; }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,  .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar { width:12px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,  .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail { width:8px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools .mCSB_buttonUp,  .mCSB_scrollTools .mCSB_buttonDown { display:block; position:absolute; height:20px; width:100%; overflow:hidden; margin:0 auto; cursor:pointer; }
.mCSB_scrollTools .mCSB_buttonDown { bottom:0; }
/* 
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR 
x-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_horizontal.mCSB_inside > .mCSB_container { margin-right:0; margin-bottom:30px; }
.mCSB_horizontal.mCSB_outside > .mCSB_container { min-height:100%; }
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden { margin-bottom:0; } /* non-visible scrollbar */
.mCSB_scrollTools.mCSB_scrollTools_horizontal { width:auto; height:16px; top:auto; right:0; bottom:0; left:0; }
.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,  .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal { bottom:-26px; } /* scrollbar position:outside */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer { margin:0 20px; }
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail { width:100%; height:2px; margin:7px 0; }
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger { width:30px; /* minimum dragger width */ height:100%; left:0; }
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar { width:100%; height:4px; margin:6px auto; }
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,  .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar { height:12px; /* auto-expanded scrollbar */ margin:2px auto; }
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,  .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail { height:8px; /* auto-expanded scrollbar */ margin:4px 0; }
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight { display:block; position:absolute; width:20px; height:100%; overflow:hidden; margin:0 auto; cursor:pointer; }
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft { left:0; }
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight { right:0; }
/* 
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS 
yx-axis 
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_container_wrapper { position:absolute; height:auto; width:auto; overflow:hidden; top:0; left:0; right:0; bottom:0; margin-right:30px; margin-bottom:30px; }
.mCSB_container_wrapper > .mCSB_container { padding-right:30px; padding-bottom:30px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical { bottom:20px; }
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal { right:20px; }
/* non-visible horizontal scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical { bottom:0; }

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,  .mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
right:0;
}
/* RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal { left:20px; }

/* non-visible scrollbar/RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
left:0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper { /* RTL direction/left-side scrollbar */ margin-right:0; margin-left:30px; }
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container { padding-right:0; }
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container { padding-bottom:0; }
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden { margin-right:0; /* non-visible scrollbar */ margin-left:0; }
/* non-visible horizontal scrollbar */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden { margin-bottom:0; }
/* 
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS  
------------------------------------------------------------------------------------------------------------------------
*/
/* 
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
------------------------------------------------------------------------------------------------------------------------
*/

/* 
----------------------------------------
6.1 THEMES 
----------------------------------------
*/

/* default theme ("light") */

.mCSB_scrollTools { opacity:0.75; filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; }
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,  .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
opacity:0;
filter:"alpha(opacity=0)";
-ms-filter:"alpha(opacity=0)";
}
.mCSB_scrollTools .mCSB_draggerRail { background-color:#fff; background-color:rgba(255, 255, 255, 0.75); filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color:#000; background-color:rgba(0, 0, 0, 0.4); filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; }
.mCSB_scrollTools .mCSB_buttonUp,  .mCSB_scrollTools .mCSB_buttonDown,  .mCSB_scrollTools .mCSB_buttonLeft,  .mCSB_scrollTools .mCSB_buttonRight { background-image:url(mCSB_buttons.png); /* css sprites */ background-repeat:no-repeat; opacity:0.4; filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; }
.mCSB_scrollTools .mCSB_buttonUp { background-position:0 0; }
.mCSB_scrollTools .mCSB_buttonDown { background-position:0 -20px; }
.mCSB_scrollTools .mCSB_buttonLeft { background-position:0 -40px; }
.mCSB_scrollTools .mCSB_buttonRight { background-position:0 -56px; }
.mCSB_scrollTools .mCSB_buttonUp:hover,  .mCSB_scrollTools .mCSB_buttonDown:hover,  .mCSB_scrollTools .mCSB_buttonLeft:hover,  .mCSB_scrollTools .mCSB_buttonRight:hover { opacity:0.75; filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; }
.mCSB_scrollTools .mCSB_buttonUp:active,  .mCSB_scrollTools .mCSB_buttonDown:active,  .mCSB_scrollTools .mCSB_buttonLeft:active,  .mCSB_scrollTools .mCSB_buttonRight:active { opacity:0.9; filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; }
/* ---------------------------------------- */
